[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
librosa = "*"
numpy = "*"
pandas = "*"
pre-commit = "*"
scikit-learn = "*"
streamlit = "*"
streamlit-audiorecorder = "*"
torch = "*"
transformers = "*"
unidecode = "*"
black = "*"
lime = "*"
imbalanced-learn = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.10"
